```{=html}
<div class="events">
    <% for (const event of items) { %>
    <div class="event-entry">
        <span class="event-time"><%= event.time %></span>
        <div class="body">
            <p class="event-title"><%= event.title %></p>
            <% if (event.abstract) { %>
            <p><a href="<%= event.abstract %>" class="event-description">:<%= event.description %></a></p>
            <% } else { %>
            <p class="event-description"><%= event.description %></p>
            <% } %>
        </div>
        <div class="logo">
            <% if (event.url) { %>
            <a href="<%= event.url %>" target="_blank"><img src="<%= event.logo %>" alt="<%= event.title %>" title="<%= event.title %>" /></a>
            <% } else { %>
            <img src="<%= event.logo %>" alt="<%= event.title %>" title="<%= event.title %>" />
            <% } %>
        </div>
    </div>
    <% } %>
</div>
```